/*****************************   
black.blob - Diazo theme for Plone - Basead in beyondskins.Responsive (Simples Consultoria - www.simplesconsultoria.com.br) 
Luciano Camargo Cruz - luciano@lccruz.net
******************************/
/* reset */
* {
    margin:0; 
    padding:0; 
    list-style:none; 
    vertical-align:baseline;
}

/* Background images */
body {
    background: black url("../img/background.png") repeat-x fixed center top;
    background-color:#000000;
}

/* Colors and fonts */
body {
    color: #FFFFFF; 
    font-family: Arial, Helvetica, 
    sans-serif; 
    font-size: 62.5%;
}

a:link, a:visited, #content a:link, dl.portlet a:link {
    color:#205C90;
}

a:hover {
    color:#FFFFFF;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #205C90;
}

h2, h3, h4, h5, h6 {
    color: #636466;
}

#wrapper { 
    width:auto; 
    margin: 0 auto; 
    max-width: 90%;	
    font-size: 1.1em;
}

#main {
    background: url("../img/bg.png") repeat scroll 0 0 transparent;
    font-size: 1.3em; 
    padding: 1em 0;
}

#nav {
    background: #E7F7FB;
    text-align: left; 
    color: #000000;
}
#nav a {
    color: #000000;
    font-weight: bold;
}
#nav a:hover, #nav li.selected a {
    padding-top: 1em;
    background: #000000;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    color: #E7F7FB;
}

#portal-searchbox #searchGadget {
    border-width: 1px;
    border-style: solid;
    border-color: #597a97;
}

#portal-searchbox .searchButton {
    background:#636466;
    color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #c8c8c9;
}

#footer {
    background: #205C90;
    -moz-border-radius: 7px 7px 0 0;
    -webkit-border-radius:7px;
    color: #FFFFFF;
    text-align: center;
}

#footer a {
    color:#FFFFFF;
}

#login-form, #login-forgotten-password, dl.portalMessage dd, .optionsBox, div.overlay label {
    color: #000000;
}

/*Portlet*/
input.searchField {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3);
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border: 1px solid #111111;
    color: #000000;
    padding: 2px 20px;
}

input.searchButton {
    background: none repeat scroll 0 0 #636466;
    border: 1px solid #C8C8C9;
    color: #FFFFFF;  
    width: 60px;
}

.LSRow, #LSNothingFound {
    width: 240px;
}

fieldset, .editionComment {
    background-color: #000000;
}

dl.portlet dt, div.portletAssignments div.portletHeader {
    background: none repeat scroll 0 0 #E7F7FB;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
    color: #000000;
}

/*Portlet TagCloud*/
.cloud1 {
    font-size: 1.0em;
}
.cloud2 {
    font-size: 1.3em;
}
.cloud3 {
    font-size: 1.6em;
}
.cloud4 {
    font-size: 1.9em;
}
.cloud5 {
    font-size: 2.2em;
}
.cloud6 {
    font-size: 2.5em;
}
.cloud7 {
    font-size: 2.8em;
}

/*Bar Edition*/
#contentActionMenus, #content-views, dl.actionMenu.activated dd, #edit-bar {
    background-color: #205C90;
    border-color: #205C90;
}

#contentActionMenus dl.actionMenu a, #contentActionMenus dl.actionMenu.activated dd {
    background-color: #205C90;
    color: White;
}

#contentActionMenus dl.actionMenu.activated dd {
    border-bottom: 0.5em solid #205C90;
}

#edit-bar {
    background-color: #205C90;
    border: 0.25em solid #205C90;
}

/* TinyMCE */
#content table {
  background-color: white;
}

/****************** Basic Stuff ***********************/
#content {font-size: 90%;}
p {line-height: 1.8em; margin: 0 0 1em 0;}
h1, h2, h3 {margin: 0.5em 0 0.5em;}
.hidden {display: none;} 
.clear {clear: both;}
.pb-ajax, .pb-image, 
.overlay iframe {font-size: 1.3em;}
div.overlay-iframe, div.overlay-ajax {left:11%!Important; width:75%;}
.portlet img, #content img {max-width:100%;}

/*header*/
#header {background-size:100% auto;	position:relative;}
#logo {padding: 4.83% 1.61%;float: left; width: 50%;}
#logo img {max-width:100%;}
#logo a {display:block; width:100%;}
#portal-personaltools {font-size: 1.1em;}

/* navigation */
#nav {
    padding: 1em 2em 1em 0;	
    font-size: 1.2em;
}
#nav ul {padding-top: 0;}
#nav li {display: inline;}
#nav a {	padding: 1.1em 2em 1em 2em; text-decoration: none;}
#searchbt, #nav #seletor {display:none;}

.navCanto {
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
}

/* Searchbox */
#search {
    display: none;
}
#portal-searchbox {float: right; margin: 3.5%  1% 0 0; width:24%; font-size: 1em;}
#portal-searchbox  form, #portal-searchbox  form .LSBox  {font-size: 100%;}
#portal-searchbox #searchGadget {
	padding: 1.2% 0  1.1% 0;
	margin-right: 0.6%;
	text-indent: 2%;
	width: 72%;
	font-size:1.1em;
}
#portal-searchbox .searchButton {font-size:0.8em; width: 27%; padding:1.899% 0  0.8% 0; text-align:center;}
#LSResult {z-index:1; margin-top: 0.5%;}

/*footer*/
#footer {
    clear: left; 
    padding: 2em;
}

/* Site Actions */
#portal-siteactions {font-size: 100%; text-align: left; display:inline;}
